params{

    /* Directories */
    work_dir    = "/$PWD"
    input_dir   = "${params.work_dir}/inputs/"
    output_dir  ="${params.work_dir}/results/"
    script_dir  ="${params.work_dir}/scripts/"
    input_pat   =["yri-thin"]

    /* Analysis Parameter */
    
    // Number of Permutations
    mperm = 1000
}

profiles{

    standard{
        process.executor = "local"
    }

    slurm{
        process.executor = "slurm"
        process.queue = "batch"
    }

    pbs {
        process.executor = "pbs"
        process.queue = "batch"
        clusterOptions = '-A nemavholaa --ntasks-per-node=1'
    }
}
